<div id="footer" class="hidden-print">
  <section class="meta">
    <div class="container">
      <div class="row">
        <div class="col col-lg-2 col-offset-4">
          <a href="https://twitter.com/stefan_leonte" target="_blank">
            <i class="fa fa-twitter fa-4x"></i><div>Follow me</div>
          </a>
        </div>
        <div class="col col-lg-2 next">
          <a href="https://github.com/sleonte" target="_blank">
            <i class="fa fa-github fa-4x"></i><div>Stuff I do</div>
          </a>
        </div>
		<div class="col col-lg-2 next">
          <a href="http://www.linkedin.com/in/stefanleonte" target="_blank">
            <i class="fa fa-linkedin fa-4x"></i><div>What I'm good at</div>
          </a>
        </div>
		<div class="col col-lg-2 next">
          <a href="http://www.facebook.com/stefan.leonte" target="_blank">
            <i class="fa fa-facebook fa-4x"></i><div>More about me</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>