<div class="hero-unit" style="background-image: url({{@blog.logo}});">
    <div class="container">
      <a class="navbar-brand" href="/">{{@blog.title}}</a>
    </div>  
  </div>
  
  <div class="navbar navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
	<li>
	  <a class="navbar-icon" href="mailto:stefan.leonte@gmail.com">
            <i class="fa fa-envelope"></i>
	  </a>
	</li>      
	<li>
	  <a class="navbar-icon" href="https://twitter.com/stefan_leonte" target="_blank">
            <i class="fa fa-twitter"></i>
	  </a>
	<li>
	  <a class="navbar-icon" href="http://www.facebook.com/stefan.leonte" target="_blank">
            <i class="fa fa-facebook"></i>
	  </a>
	</li>
	<li>
	  <a class="navbar-icon" href="https://github.com/sleonte" target="_blank">
            <i class="fa fa-github"></i>
	  </a>
	</li>
	<li>
	  <a class="navbar-icon" href="http://www.linkedin.com/in/stefanleonte" target="_blank">
            <i class="fa fa-linkedin"></i>
	  </a>
	</li>
      </ul>
    </div>
  </div>
